@font-face {
  font-family: 'Compagnon Medium';
  src: url('/fonts/Compagnon-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Compagnon Roman';
  src: url('/fonts/Compagnon-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glory';
  src: url('/fonts/glory-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glory';
  src: url('/fonts/glory-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glory';
  src: url('/fonts/glory-latin-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glory';
  src: url('/fonts/glory-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-primary: #F78888;
  --color-soft: #FFEDED;
  --color-accent: #955A5A;
  
  --font-heading: 'Compagnon Medium', sans-serif;
  --font-hero: 'Compagnon Roman', sans-serif;
  --font-body: 'Glory', sans-serif;
}

@layer base {
  html, body {
    @apply bg-soft text-accent font-body;
  }

  h1, h2, h3, h4, h5, h6, .btn, nav a {
    @apply font-heading;
  }
}